.homeRoute{
    color: #9CA3AF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.32px;
}
.navRoute{
    margin: 0vh 4vw 0vh 4vw;
    padding: 4vh 0vw 4vh 0vw;
    border-bottom: 1px #eae2e2 solid;
}
.loginContainer{
    display: flex;
    margin:11vh 32vw 11vh 32vw;
    padding: 4vh 0vw 4vh 0vw;
    flex-direction: column;
}
.logRegButtons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2vw;
    padding: 5vh;
}
.loginButton,
.registerButton{
    color:#111827;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
    cursor: pointer;
}
.registerButton{
    color: #9CA3AF;
}
.haveAccount,
.userName,
.password{
    color: #030712;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
}
.haveAccount{
    display: flex;
    justify-content: center;
    padding: 2vh;
}
.enterInfo{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.emailInput,
.passwordInput{
    border: #D1D5DB 1px solid;
    width: 100%;
    border-radius: 8px;
    height: 6vh;
    padding-left: 1vw;
}
.rememberPassword{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:3vh 0vw 5vh 0vw;
    width: 103%;
}
.checkbox{
    display: flex;
    gap: 2%;
}
.checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: #D1D5DB 1px solid;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #0000000C;

}
.lostPassword{
    color:#1D4ED8;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}
.login{
    width: 103%;
    color: #FFFFFF;
    background-color: #634C9F;
    height: 7.2vh;
    border: none;
    border-radius: 8px;
}
.logoImg{
    width: 19px;
    height: 19px;
    opacity: 45%;
}
