.container{
    background-color: #F3F4F6;
    width: 100%;
    height: auto;

}
.discriptionText{
    font-size: 11px;color: #6B7280; word-spacing: -0.32px;
}
.hyper-text-last{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    margin-right: 10px;
    color: #111827;
}
.visaSide{
    display: flex;
    padding-top: 4%;
    gap: 3%;
}
@media (max-width:800px) {
    .joinSection{
        padding: 0% 0% 0% 0% !important;
        width: 55% !important;
    }
    .helpContainer2{
        display: none !important;
    }
    .footerCopy{
        display: none !important;
    }
    .helpContainer{
        width: 50% !important;
    }
}
