<div class="container" >
    <div class="globalNotification">
        <p class="globalText">
          FREE delivery & 40% Discount for next 3 orders! Place your 1st order in.
        </p>
        <div class="timeForGlobal" style="display: flex; flex-direction: row; gap: 1%; width: 35%; align-items: center;">
          <p class="globalTime">Until the end of the sale:</p>
          <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown>
        </div>
      </div>
      
    <div class="firstNavContainer">
        <div class="selectorSection">
            <p class="selectorText" style="font-weight: 600;" (click)="navigateToContact()">About Us</p>
            <p class="selectorText" style="font-weight: 600;">My account</p>
            <p class="selectorText" style="font-weight: 600;">Wishlist</p>  
            <p class="selectorText2" > We deliver to you every day from</p>
            <p class="selectorText" style="color: #EA580C; font-weight: 800; "> 7:00 to 23:00</p>
        </div>
        <div class="englishSection">
            <p class="selectorText">English</p>
            <p class="selectorText">USD</p>
            <p class="selectorText">Order Tracking</p>
        </div>
    </div>
    <div class="searchbarSection" style="width: 98.4%; height: auto; padding: 2%;padding: 0.8%; border-top: 1px #eae2e2 solid;">
        <div class="searchBarContainer" style="margin-left: 3%; display: flex; flex-direction: row; gap: 1.2%; ">
            <img [src]="siteLogo" alt="photo" class="logoImg">
            <img [src]="pinIcon" alt="photo" class="pinIcon">
            <div class="deliverPlace">
                <p class="deliverTo"> Deliver to</p>
                <span class="deliverTo" style="font-weight: 800;">all</span> 
            </div>
            <input type="text" class="searchBar" placeholder="Search for products, categories or brands..." style="width: 60%; background-color: #F3F4F6;">
            <img [src]="searchIcon" class="searchIcon" alt="photo" style="position: relative;right: 65px;top: 0px;">
                <div class="signInAccount" (click)="navigateToSign()" style="cursor: pointer;">
                    <img [src]="profileIcon" alt="photo" class="profileIcon" >
                   <p class="signAccount">Sign in Account</p> 
                </div>
           <div class="cartSection">
            <img [src]="favIcon" alt="photo" class="favIcon">
            <span class="cartNumber">0</span>
        </div>
            <div class="cartSection" (click)="navigateToCheckout()">
                <img [src]="cartIcon" alt="photo" class="cartIcon" >
                <span class="cartNumber">{{cartNumber}}</span>
            </div>
        </div>
    </div>
    <div class="toolsSection" style="display: flex; flex-direction: row;margin-left: 4%;justify-content: space-between;">
        <div class="ifHome" *ngIf="currentRoute === '/home'" (click)="onAllCategoryClick()" style="cursor: pointer;">
            <img [src]="allCategory" alt="photo" class="menuIcon" >
            <div class="arrowToRight" >
                <p class="allCategory" >
                  All Category
                </p>  
                <img [src]="downArrowBlack" alt="photo" *ngIf="!this.clickedAllCategory" class="favIcon" style=" rotate: 270deg;" >
                <img [src]="downArrowBlack" alt="photo" *ngIf="this.clickedAllCategory" class="favIcon" style=" rotate: 360deg;" >
            </div>
        </div>
        <div class="leftSide" style="display: flex;flex-direction: row;gap: 2vw;">
            <p class="toolText" [ngClass]="{'activeSet': isHomeRoute()}" (click)="navigateToHome()">
                Home
                <img [src]="downArrowBlack" alt="photo" class="favIcon" style="padding-left: 0.4vw" (click)="navigateToHome()">
            </p>          
            <p class="toolText" [ngClass]="{'activeSet': isShopRoute()}" (click)="navigateToShop()" >Shop
                <img [src]="downArrowBlack" alt="photo" class="favIcon" style="padding-left:0.4vw">
            </p>
            <p class="toolText">Fruits & Vegetables</p>
            <p class="toolText">Beverages</p>
            <!-- <p class="toolText"(click)="navigateToCheckout()">Checkout</p> -->
            <p class="toolText" [ngClass]="{'activeSet': ischeckoutRoute()}" (click)="navigateToCheckout()">
                Checkout
                <img [src]="downArrowBlack" alt="photo" class="favIcon" style="padding-left: 0.4vw" (click)="navigateToHome()">
            </p>  
            <p class="toolText"  [ngClass]="{'activeSet': isContactRoute()}" (click)="navigateToContact()">Contact</p>
        </div>
        <div class="rightSide" style="display: flex;flex-direction: row;gap: 2.9vh;width: 34%;">
            <p class="toolText">Trending Products
                <img [src]="downArrowBlack" alt="photo" class="favIcon" style="padding-left:0.4vw">
            </p>
            <p class="toolText2">Almost Finished</p>
            <div class="saleSection" style=" display: flex;">
                <p class="toolText3">SALE
                </p>
                <img [src]="downArrowRed" alt="photo" class="favIcon" style="padding-left: 0.4vw; width: 10px;">
            </div>
        </div>
    </div>
</div>