.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27%;
    border-bottom: 1px #eae2e2 solid;
}
.globalNotification{
    width:100%;
    height:42px;
    background-color: #634C9F;
    display: flex;
    gap: 12%;
    align-items: center;
    justify-content: center;
}
.globalText{
    font-family: "Inter",sans-serif;
    color: #FFFFFF;
}
.globalTime{
   color: #E5E5E5;
   font-size: 14px;
}
.timeEdit{
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
}
// ==============================
.firstNavContainer{
    display: flex;
    margin-left: 3.8vw;
    padding: 2vh 0vh;
}
.selectorSection{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    
}
.englishSection{
    width: 13%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.selectorText,
.selectorText2{
    color:#6B7280;
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.selectorText2{
    margin-left: 10px;
    border-left: solid #e5e5e5 3px;
    padding-left: 10px;
}
.searchBar::placeholder{
    color:#6B7280;
}
// ===============================
.searchBar {
    padding: 14px;
    border-radius: 10px;
    border: none;
    height: 10%;
    // background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    // background-size: 20px;

}
// ================================
.toolText,
.toolText2,
.toolText3{
    color: #030712;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    letter-spacing:-0.3px;
    line-height: 48px;
    cursor: pointer;
    &.activeSet {
        font-weight: bold; 
        color: #634C9F;
        border-bottom: 1px solid #634C9F; 
        cursor: pointer;
    }
}
.toolText2{
    color: #DC2626;
}
.toolText3{
    display: flex;
    margin: 11px;
    background-color: #DC2626;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 800;
    padding: 8px;
    line-height: 0px;
    align-items: center;
    border-radius: 7px;
}
.ifHome{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #E5E7EB;
    width: 20%;
    border-radius: 8px 8px 0px 0px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.arrowToRight{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 77%;
}
.allCategory{
    color:#030712;
    font-size: 15px;
    font-weight: 600;
}
.menuIcon{
    padding-left: 1.4vw;
}
.deliverPlace{
    width: 7%;
}
.signInAccount{
    cursor: pointer;
    display: flex;
    gap: 8%;
    align-items: center;
}
.profileIcon{
    width: 27px;
}
@media (max-width: 767px) {
    .globalNotification{
        height:24px;
        gap: 4%;

    }
    .globalTime{
        color: #E5E5E5;
        font-size: 11px;
     }
     .timeEdit{
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 600;
    }
    .searchBar {
        padding: 8px;
        border-radius: 10px;
        border: none;
        height: 10%;
        font-size: 7px;
    }
    .toolText,
.toolText2,
.toolText3{
    line-height: 8px;
}
.toolText3{
    margin: 4px;
    font-size: 7px;
    padding: 3px;
}
.ifHome{
    gap: 0.1vw;
}   
    .allCategory{
      font-size: 12px;
    }
    .menuIcon{
        padding-left: 0.4vw;
    }
    .selectorText,
    .selectorText2{
        font-size: 7px; 
    }
    .logoImg{
        height: 17px;
        width: 85px !important;
    }
    .pinIcon{
        height: 10px;
        width: 10px;
    }
    .deliverTo{
        font-size: 7px; 
    }
    .searchIcon{
        right: 29px !important;
        top: 0px !important;    
        width: 15px;
    }
    .profileIcon{
        width: 15px;
    }
    .signAccount{
        font-size: 7px; 
    }
    .favIcon,.cartIcon{
        height: 14px;
        width: 14px;
    }
    .searchBarContainer{
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    margin: 0 !important;
    }
    .deliverPlace{
        display: flex;
        width: 7%;
        gap: 0px;
        flex-direction: column;
    }
    .globalText{
        font-size: 7px !important;
    }
    .globalTime{
        display: none;
    }
    .timeEdit{
        font-size: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .globalTime{
        color: #E5E5E5;
        font-size: 12px;
     }
     .timeEdit{
        font-size: 15px;
        color: #FFFFFF;
        font-weight: 600;
    }
}