<div class="mainContainer">
    <div class="topContainer">
        <div class="contactText">
            <p class="contact">Contact With Us</p>
            <p class="question">You can ask us questions</p>
            <p class="contactSmall">Contact us for all your questions and opinions, or you can solve your</p>
            <span class="contactSmall">problems in a shorter time with our contact offices.</span>
        </div>
    </div>
    <div class="information">
        <div class="myInfo">
            <p class="myInfoText">My Information</p>
            <p class="lorem">You can find below my information for contact, if you have any questions, feel free to ask!</p>
            <div class="location">
                <div class="locationContainer">
                    <img [src]="pinIcon" alt="photo" class="pinIcon">
                    <div class="locationText">
                        <p class="mainLocation">Jordan</p>
                        <p class="mainLocation2">Amman</p>
                        <p class="mainLocation3">Almadina Str</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
